*{
    font-family:'poppins' , sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}
/** some variable **/
:root{
--main-color:#fda702;
--second-color:#ebeff2;
--text-color:#0e0606;;
--bg-color:#fff;
/** box shadaw**/
--box-shadaw:2px 2px 10px 4 px rgb(10 55 54/15%)
}
/** custom scroll bar **/
html::-webkit-scrollbar{
    width: 0.5rem;
}
html::-webkit-scrollbar-thumb{
    background: transparent;
}
html::-webkit-scrollbar-track{
    background: var(--text-color);
    border-radius: 5rem;
}
.btn{
    padding: 0.7rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight:500 ;
    display: inline-block;
    text-transform: uppercase;
    clip-path: polygon(100% 0, 93% 50%, 86% 99%, 0% 100% ,7% 47%, 13% 0%);
}
#close-cart{
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--text-color);
}
.btn-buy:hover{
    background: var(--text-color);
}
.btn:hover{
    background: var(--text-color);
    letter-spacing: 2px;
    transition: 0.2s;
}
img{
    width: 100%;
}
section{
    padding: 50px 100px;
}
header{
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 100px;
    transition: 0.5s linear;
}
header.shadaw{
    background:var(--bg-color);
    box-shadow: 0 0 4px rgb(14, 55, 54/15%);
}
.logo{
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    column-gap: 0.2rem;
    color: var(--text-color);
}
.logo .bx{
    font-size: 24px;
    color: var(--main-color);
}
.navbar{
    display: flex;
    column-gap: 2.4rem;
}
.navbar  a{
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
}
.navbar a:hover{
     color: var(--main-color);
}
.header-icons{
    font-size: 24px;
    cursor: pointer;
    z-index: 100000;
}
#menu-icon{
    display:none ;
}
.search-box{
    position: absolute;
    top: 110%;
    right: -100% ;
}
 .search-box  {
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 20px;
    width: 280px;
    box-shadow: var(--box-shadaw);
}
.search-box.active{
    right: 1rem;
    transition: 0.2s;
}
.cart{
    position: absolute;
    top: 110%;
    right: -100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
    background: var(--bg-color);
    padding: 20px;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadaw);
}
.cart img{
    width: 100px;
}
.cart-quantity{
    border: 1px solid var(--text-color);
    outline-color: var(--main-color);
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}
.cart .box{
    display: flex;
    align-items: center;
    column-gap:2rem ;
}
.cart .box .text h2{
    font-size: 1rem;
}
.cart .box .text .bx{
    font-size: 24px;
}
.cart .box .text .bx:hover{
    color: var(--main-color);
}
/*.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--text-color);
}*/
.cart-remove{
    font-size: 24px;
    color: var(--main-color);
    cursor: pointer;
}
.cart h2{
    font-size: 1.1rem;
    font-weight: 600;
}
.cart.active{
    right: 1rem;
    transition: 0.2s;
}
.user{
    position: absolute;
    right: -100%;
    top: 110%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
    background: var(--bg-color);
    padding: 20px;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadaw);
}
.user h2{
    font-size: 1.2rem;
    color:var(--text-color);
}
.user .login-btn{
    background: var(--main-color);
    color: var(--bg-color);
    font-size:1rem ;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}
.user .login-btn:hover{
    background: var(--text-color);
}
.user input {
border: none;
outline: none;
padding: 20px;
border-radius: 0.5rem;
width: 100%;
}
.user p {
    font-size: 0.938rem;
}
.user a{
    text-decoration:underline ;
    color: var(--main-color);
}
.user.active{
    right: 1rem;
    transition: 0.2;
}
.home{
    width: 100%;
    min-height: 100vh;
  display: grid;
 grid-template-columns: repeat(auto-fit,minmax(17rem,1fr));

    align-items: center;
gap: 1.5rem;
background:var(--second-color);
}
.home-text span{
    font-weight:500;
    text-transform: uppercase;
}
.home-text h1{
    font-size: 3.4rem;
    margin-bottom: 1rem;
}
.heading{
    text-align: center;
}
.heading h1 {
    font-size: 1.7rem;
    font-weight: 600;
     text-transform: capitalize;
    color: var(--text-color);
}
.heading span{
    padding: 0.2rem 1.2rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight:500 ;
    display: inline-block;
    text-transform: uppercase;
    clip-path: polygon(100% 0, 93% 50%, 86% 99%, 0% 100% ,7% 47%, 13% 0%);
}
.new-arrival{
    margin-top: 2rem;
    

}
.swiper-wrappeer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(17rem,1fr));
       align-items: center;
   gap: 1.5rem;
   background-color:grey;
}
.new-arrival .box{
    position: relative;
    overflow: hidden;
    background: var(--second-color);
}
.new-arrival .box img{
    background: var(--bg-color);
    width:100% ;
    height: 100%;
    object-fit: cover; 
}
.new-arrival .box .content{
    position: absolute;
    top: -100%;
    height: 100%;
    width: 100%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: hsl(0, 0%,  91%,  0.5);
    overflow: hidden;
}
.new-arrival .box:hover .content{
top: 0;
transition: 0.2s;
}
.product-container{
    display:grid;
    grid-template-columns: 20% 20% 20% 20% ;
    gap: 1rem;
    margin-top: 2rem;
}
.product-container .box{
    position: relative;
    padding: 10px;
    box-shadow: var(--box-shadaw);
}
.product-container .box h2{
    font-size: 1.2rem;
    font-weight: 500;
}
.product-container .box .content .start .bx{
    color: var(--main-color);
}
.product-container .box .bx-cart-alt{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    font-size: 24px;
    background: var(--main-color);
    color: var(--bg-color);
}
.product-container .box .bx-cart-alt:hover{
    background: var(--text-color);
}
.product-container .box:hover img{
    width: 70px;
    height: 70px;
    -webkit-transform: scalex(-1);
    transform: scalex(-1);
    transition: 0.5s;
}











.swiper-solide{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(17rem,1fr));; 
    gap: 1rem;
    margin-top: 2rem;
    color: var(--text-color);
}











.reviews-container{
    display:grid;  
    grid-template-columns: 20% 20% 20% 20%; 
    gap: 1rem;
    margin-top: 2rem;
}
.reviews-container .box{
padding: 10px;
border: 2px solid var(--text-color);
border-radius: 0.5rem;
text-align: center;
box-shadow: var(--box-shadaw);
}
.reviews-container .box img{
    width: 70px;
    height: 70px;
    object-fit: cover;
}
.reviews-container .box .start .bx{
    color: var(--main-color);
}
.reviews-container .box p{
    font-size: 0.938rem;
    font-style: italic;
    margin: 0.5rem 0.5rem;
}
.reviews-container .box h2{
    font-size: 1.2rem;
    font-weight: 600;
}
.reviews-container .box:hover{
    background: var(--text-color);
    color: var(--text-color);
}
.footer{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%; 
    gap: 1rem;
    margin-top: 2rem;
    color: var(--text-color);
}
.footer .box h2{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.footer .box p{
    font-size: 0.938rem;
    margin-bottom: 10px;
}
.social{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}
.social a .bx {
    font-size: 24px;
    color: var(--text-color);
    padding: 10px;
    background: var(--second-color);
    border-radius: 0.5rem;
}
.social a .bx:hover{
    background: var(--main-color);
    color: var(--bg-color);
}
.footer-box h3{
    font-weight: 600;
    margin-bottom: 10px;
}
.footer-box li a:hover {
    color: var(--second-color);
}
.payement{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}
.payement img{
    width: 44px;
}
.copyright{
padding: 20px;
color: var(--text-color);
align-items: center;
}
@media (max-width:1058px){
    header{
        padding: 18px 60px;
    }
    section{
        padding: 50px 60px;
    }
    .home-text h1{
        font-size: 3rem;
    }
}
@media (max-width:988px){
    header{
        padding: 18px 4%px;
    }
    section{
        padding: 50px 4%;
    }
    .home-text h1{
        font-size: 2.4remrem;
    }
}
@media (max-width:768px){
    header{
        padding: 12px 4%;
    }
     #menu-icon{
        display: initial;
    }
    .header .navbar{
height: 100vh;
width: 240pw;
top: 100%;
display: flex;
right: -100% ;
flex-direction: column;
background: var(--bg-color);
row-gap: 1.4rem;
position: absolute;
padding: 20px;
box-shadow: 4px 4px 0 4px rgb(14 55 54 / 15%);
transition: 0.3s linear;
text-align: left;
    }
    .navbar.active{
        right: 0;
    }
}